body
{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(IMG-20181020-WA0143.jpg);
height: 100vh;
background-size: cover;
background-position: center;
}
.row
{
    max-width: 1200px;
    margin: auto;
}



ul
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
ul li
{
    display: inline-block;
width: 120px;

}


ul li a:hover
{
    border: 1px solid white;
}


ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
ul li ul li
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: block:
}
ul li ul li
{
display: none;
}

ul li:hover ul li
{
display: block;
}

ul li ul li
{
text-align: center;
}
.login-pg
{
width: 1200px;
padding: 5px 0px 0px 0px ;
margin: auto;
}
.form1
{
position: center;
background: #ffffff;
max-width: 1000px;
margin: 0 auto 5px;
padding: 10px 45px 45px 0px;
text-align: center;
}

.login-pg1
{
width: 1200px;
padding: 170px 0px 0px 0px ;
margin: auto;
}
h1
{
background: Gold;
max-width: 1000px;
padding: 10px;
margin-left: 45px;
}
