*
{
margin:0;
padding: 0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(IMG-20181020-WA0145.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.row
{
    max-width: 1200px;
    margin: auto;
}



ul
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
ul li
{
    display: inline-block;
width: 120px;

}


ul li a:hover
{
    border: 1px solid white;
}


ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
ul li ul li
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: block:
}
ul li ul li
{
display: none;
}

ul li:hover ul li
{
display: block;
}

ul li ul li
{
text-align: center;
}

h1
{
    
    color: white;
    text-transform: uppercase;
    font-size: 57px;
    text-align: center;
    padding-top: 160px;
    margin: 0px;
    font-family: "Agency FB", sans-serif;
}
h3
{
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    font-family: "Agency FB", sans-serif;
    padding-top: 50px;
    
}
p
{
	color: white;
	font-size: 22px;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

